<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_paycheck"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_paycheck"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaycheckPilot">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.SafeToSpendWidgetProvider"
            android:exported="true"
            android:label="Paycheck Pilot: Safe to spend">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/safe_to_spend_widget" />
        </receiver>

        <receiver
            android:name=".widget.BillsBeforePaydayWidgetProvider"
            android:exported="true"
            android:label="Paycheck Pilot: Bills before payday">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bills_before_payday_widget" />
        </receiver>
    </application>
</manifest>
